@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.z-1000 {
  z-index: 1000;
}

.hide-border {
  display: none !important;
}

.cube {
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  width: 140px;
  height: 76px;
  margin: 4px;
  background: #eee;
  --color: #4af;
}

.elements {
  border: 2px solid #eee;
}

.selecto-area {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#selecto1 .cube {
  transition: all ease 0.2s;
}

.moveable #selecto1 .cube {
  transition: none;
}

.selecto-area .selected {
  color: #fff;
  background: var(--color);
}

.empty.elements {
  border: none;
}
